version: '3.5'

services:
   wpdb:
     container_name: wpdb
     image: mysql:5.7
     volumes:
       - wpdb:/var/lib/mysql
     restart: always
     environment:
       MYSQL_ROOT_PASSWORD: secret
       MYSQL_DATABASE: msdb
       MYSQL_USER: wpadmin
       MYSQL_PASSWORD: password

   wp:
     container_name: wp
     depends_on:
       - wpdb
     image: wordpress:latest
     ports:
       - "8080:80"
     restart: always
     environment:
       WORDPRESS_DB_HOST: wpdb:3306
       WORDPRESS_DB_NAME: msdb
       WORDPRESS_DB_USER: wpadmin
       WORDPRESS_DB_PASSWORD: password
     working_dir: /var/www/html
     volumes:
       - ./wp-content:/var/www/html/wp-content
       - ./uploads.ini:/usr/local/etc/php/conf.d/uploads.ini
volumes:
    wpdb:
